<!DOCTYPE html>

<html>

  <head>
    <title>Default Scrola Viewer Theme</title>
    <link rel="stylesheet" type="text/css" href="css/default-style.css">
    <script type="text/javascript" src="js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="js/default-interaction.js"></script>
  </head>

  <body onload="generateItemList()">

    <div id="listing-body">
      <input id="listing-search" type="text" placeholder="search" onkeyup="search(this.value)"></input>
      <ul id="listing-orders">
      </ul>
    </div>

		<script id="items-xml" type="text/xml">
			<items>
				<item>
					<title>acronym-iq.jpg</title>
					<img>E:\Pictures\Infographics/acronym-iq.jpg</img>
				</item>
				<item>
					<title>asdfsdfsafasfain.jpg</title>
					<img>E:\Pictures\Infographics/asdfsdfsafasfain.jpg</img>
				</item>
				<item>
					<title>Budget 2014 Malaysia.jpg</title>
					<img>E:\Pictures\Infographics/Budget 2014 Malaysia.jpg</img>
				</item>
				<item>
					<title>creative-kids.jpg</title>
					<img>E:\Pictures\Infographics/creative-kids.jpg</img>
				</item>
				<item>
					<title>CSS Help Sheet Large.jpg</title>
					<img>E:\Pictures\Infographics/CSS Help Sheet Large.jpg</img>
				</item>
				<item>
					<title>DebianVsUbuntu_final.jpg</title>
					<img>E:\Pictures\Infographics/DebianVsUbuntu_final.jpg</img>
				</item>
				<item>
					<title>FIFA-WORLD-CUP.jpg</title>
					<img>E:\Pictures\Infographics/FIFA-WORLD-CUP.jpg</img>
				</item>
				<item>
					<title>HabitsofUnsuccessfulPeopleVsSuccessfulPeople_54506f39ea205_w1500.jpg</title>
					<img>E:\Pictures\Infographics/HabitsofUnsuccessfulPeopleVsSuccessfulPeople_54506f39ea205_w1500.jpg</img>
				</item>
				<item>
					<title>html-character-entities-cheat-sheet.png</title>
					<img>E:\Pictures\Infographics/html-character-entities-cheat-sheet.png</img>
				</item>
				<item>
					<title>HTML5 Visual Cheat Sheet.jpg</title>
					<img>E:\Pictures\Infographics/HTML5 Visual Cheat Sheet.jpg</img>
				</item>
				<item>
					<title>NAJIB-BAJET-2015.jpg.transformed.jpg</title>
					<img>E:\Pictures\Infographics/NAJIB-BAJET-2015.jpg.transformed.jpg</img>
				</item>
				<item>
					<title>perfect-posts.jpg</title>
					<img>E:\Pictures\Infographics/perfect-posts.jpg</img>
				</item>
				<item>
					<title>second-languages-map-1350px.jpg</title>
					<img>E:\Pictures\Infographics/second-languages-map-1350px.jpg</img>
				</item>
				<item>
					<title>The Ultimate List of Educational Websites.jpg</title>
					<img>E:\Pictures\Infographics/The Ultimate List of Educational Websites.jpg</img>
				</item>
				<item>
					<title>Top 10 Best Paying Jobs.jpg</title>
					<img>E:\Pictures\Infographics/Top 10 Best Paying Jobs.jpg</img>
				</item>
				<item>
					<title>ultimate_wordpress_cheatsheet.jpg</title>
					<img>E:\Pictures\Infographics/ultimate_wordpress_cheatsheet.jpg</img>
				</item>
				<item>
					<title>w-myersbriggs-g.jpg</title>
					<img>E:\Pictures\Infographics/w-myersbriggs-g.jpg</img>
				</item>
				<item>
					<title>What Are The Hardest Languages To Learn.jpg</title>
					<img>E:\Pictures\Infographics/What Are The Hardest Languages To Learn.jpg</img>
				</item>
				<item>
					<title>writing-killer-post-lowres.jpg</title>
					<img>E:\Pictures\Infographics/writing-killer-post-lowres.jpg</img>
				</item>
			</items>
		</script>


    <div class="item-body">

      <h2 class="item-title" id="acronym-iq.jpg">acronym-iq.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/acronym-iq.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="asdfsdfsafasfain.jpg">asdfsdfsafasfain.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/asdfsdfsafasfain.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="Budget 2014 Malaysia.jpg">Budget 2014 Malaysia.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/Budget 2014 Malaysia.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="creative-kids.jpg">creative-kids.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/creative-kids.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="CSS Help Sheet Large.jpg">CSS Help Sheet Large.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/CSS Help Sheet Large.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="DebianVsUbuntu_final.jpg">DebianVsUbuntu_final.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/DebianVsUbuntu_final.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="FIFA-WORLD-CUP.jpg">FIFA-WORLD-CUP.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/FIFA-WORLD-CUP.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="HabitsofUnsuccessfulPeopleVsSuccessfulPeople_54506f39ea205_w1500.jpg">HabitsofUnsuccessfulPeopleVsSuccessfulPeople_54506f39ea205_w1500.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/HabitsofUnsuccessfulPeopleVsSuccessfulPeople_54506f39ea205_w1500.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="html-character-entities-cheat-sheet.png">html-character-entities-cheat-sheet.png</h2>


      <img class="item-img" src="E:\Pictures\Infographics/html-character-entities-cheat-sheet.png" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="HTML5 Visual Cheat Sheet.jpg">HTML5 Visual Cheat Sheet.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/HTML5 Visual Cheat Sheet.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="NAJIB-BAJET-2015.jpg.transformed.jpg">NAJIB-BAJET-2015.jpg.transformed.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/NAJIB-BAJET-2015.jpg.transformed.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="perfect-posts.jpg">perfect-posts.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/perfect-posts.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="second-languages-map-1350px.jpg">second-languages-map-1350px.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/second-languages-map-1350px.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="The Ultimate List of Educational Websites.jpg">The Ultimate List of Educational Websites.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/The Ultimate List of Educational Websites.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="Top 10 Best Paying Jobs.jpg">Top 10 Best Paying Jobs.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/Top 10 Best Paying Jobs.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="ultimate_wordpress_cheatsheet.jpg">ultimate_wordpress_cheatsheet.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/ultimate_wordpress_cheatsheet.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="w-myersbriggs-g.jpg">w-myersbriggs-g.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/w-myersbriggs-g.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="What Are The Hardest Languages To Learn.jpg">What Are The Hardest Languages To Learn.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/What Are The Hardest Languages To Learn.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="writing-killer-post-lowres.jpg">writing-killer-post-lowres.jpg</h2>


      <img class="item-img" src="E:\Pictures\Infographics/writing-killer-post-lowres.jpg" />

    </div>


  </body>

</html>
