<!DOCTYPE html>

<html>

  <head>
    <title>Default Scrola Viewer Theme</title>
    <link rel="stylesheet" type="text/css" href="css/default-style.css">
    <script type="text/javascript" src="js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="js/default-interaction.js"></script>
  </head>

  <body onload="generateItemList()">

    <div id="listing-body">
      <input id="listing-search" type="text" placeholder="search" onkeyup="search(this.value)"></input>
      <ul id="listing-orders">
      </ul>
    </div>

		<script id="items-xml" type="text/xml">
			<items>
				<item>
					<title>Chrysanthemum.jpg</title>
					<img>C:\Users\Public\Pictures\SAMPLE~1/Chrysanthemum.jpg</img>
				</item>
				<item>
					<title>Desert.jpg</title>
					<img>C:\Users\Public\Pictures\SAMPLE~1/Desert.jpg</img>
				</item>
				<item>
					<title>desktop.ini</title>
					<img>C:\Users\Public\Pictures\SAMPLE~1/desktop.ini</img>
				</item>
				<item>
					<title>Hydrangeas.jpg</title>
					<img>C:\Users\Public\Pictures\SAMPLE~1/Hydrangeas.jpg</img>
				</item>
				<item>
					<title>Jellyfish.jpg</title>
					<img>C:\Users\Public\Pictures\SAMPLE~1/Jellyfish.jpg</img>
				</item>
				<item>
					<title>Koala.jpg</title>
					<img>C:\Users\Public\Pictures\SAMPLE~1/Koala.jpg</img>
				</item>
				<item>
					<title>Lighthouse.jpg</title>
					<img>C:\Users\Public\Pictures\SAMPLE~1/Lighthouse.jpg</img>
				</item>
				<item>
					<title>Penguins.jpg</title>
					<img>C:\Users\Public\Pictures\SAMPLE~1/Penguins.jpg</img>
				</item>
				<item>
					<title>Tulips.jpg</title>
					<img>C:\Users\Public\Pictures\SAMPLE~1/Tulips.jpg</img>
				</item>
			</items>
		</script>


    <div class="item-body">

      <h2 class="item-title" id="Chrysanthemum.jpg">Chrysanthemum.jpg</h2>


      <img class="item-img" src="C:\Users\Public\Pictures\SAMPLE~1/Chrysanthemum.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="Desert.jpg">Desert.jpg</h2>


      <img class="item-img" src="C:\Users\Public\Pictures\SAMPLE~1/Desert.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="desktop.ini">desktop.ini</h2>


      <img class="item-img" src="C:\Users\Public\Pictures\SAMPLE~1/desktop.ini" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="Hydrangeas.jpg">Hydrangeas.jpg</h2>


      <img class="item-img" src="C:\Users\Public\Pictures\SAMPLE~1/Hydrangeas.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="Jellyfish.jpg">Jellyfish.jpg</h2>


      <img class="item-img" src="C:\Users\Public\Pictures\SAMPLE~1/Jellyfish.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="Koala.jpg">Koala.jpg</h2>


      <img class="item-img" src="C:\Users\Public\Pictures\SAMPLE~1/Koala.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="Lighthouse.jpg">Lighthouse.jpg</h2>


      <img class="item-img" src="C:\Users\Public\Pictures\SAMPLE~1/Lighthouse.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="Penguins.jpg">Penguins.jpg</h2>


      <img class="item-img" src="C:\Users\Public\Pictures\SAMPLE~1/Penguins.jpg" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="Tulips.jpg">Tulips.jpg</h2>


      <img class="item-img" src="C:\Users\Public\Pictures\SAMPLE~1/Tulips.jpg" />

    </div>


  </body>

</html>
