<!DOCTYPE html>

<html>

  <head>
    <title>Default Scrola Viewer Theme</title>
    <link rel="stylesheet" type="text/css" href="css/default-style.css">
    <script type="text/javascript" src="js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="js/default-interaction.js"></script>
  </head>

  <body onload="generateItemList()">

    <div id="listing-body">
      <input id="listing-search" type="text" placeholder="search" onkeyup="search(this.value)"></input>
      <ul id="listing-orders">
      </ul>
    </div>

		<script id="items-xml" type="text/xml">
			<items>
				<item>
					<title>assertion_failed.png</title>
					<img>C:\Users\Shahrim\Pictures\SYSTEM~1/assertion_failed.png</img>
				</item>
				<item>
					<title>disk_status_01.png</title>
					<img>C:\Users\Shahrim\Pictures\SYSTEM~1/disk_status_01.png</img>
				</item>
				<item>
					<title>git_configuring_terminal_emulator.png</title>
					<img>C:\Users\Shahrim\Pictures\SYSTEM~1/git_configuring_terminal_emulator.png</img>
				</item>
			</items>
		</script>


    <div class="item-body">

      <h2 class="item-title" id="assertion_failed.png">assertion_failed.png</h2>


      <img class="item-img" src="C:\Users\Shahrim\Pictures\SYSTEM~1/assertion_failed.png" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="disk_status_01.png">disk_status_01.png</h2>


      <img class="item-img" src="C:\Users\Shahrim\Pictures\SYSTEM~1/disk_status_01.png" />

    </div>


    <div class="item-body">

      <h2 class="item-title" id="git_configuring_terminal_emulator.png">git_configuring_terminal_emulator.png</h2>


      <img class="item-img" src="C:\Users\Shahrim\Pictures\SYSTEM~1/git_configuring_terminal_emulator.png" />

    </div>


  </body>

</html>
